table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
thead{
    background-color: gray;
}
tbody tr:hover{
    cursor: pointer;
    background-color: aqua;
}
.selected{
    background-color: aqua; 
}